.contentContainer {
  max-width: 1120px;
  width: 100%;

  height: calc(100vh - 5rem);
  margin: 4rem auto;

  padding: 0 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;

  @media (min-width: 1024px) {
    flex-direction: row;
    margin: 0 auto;
  }
}

.hero {
  height: 100%;
  max-width: 600px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > span {
    font-size: 1.5rem;
    font-weight: bold;
  }

  h1,
  p {
    text-align: center;
  }

  h1 {
    font-size: 4.5rem;
    line-height: 4.5rem;
    font-weight: 900;
    margin-top: 2.5rem;

    span {
      color: var(--cyan-500);
    }
  }

  p {
    font-size: 1.5rem;
    line-height: 2.25rem;

    margin-top: 1.5rem;

    span {
      color: var(--cyan-500);
      font-weight: bold;
    }
  }

  button {
    margin-top: 2.5rem;
    min-height: 4rem;
  }

  @media (min-width: 1024px) {
    align-items: flex-start;
    h1,
    p {
      text-align: left;
    }
  }
}
